{
    "openapi": "3.0.3",
    "info": {
        "title": "Express API",
        "description": "Express API to automate bulk creation, export renditions and various other use cases.",
        "version": "beta",
        "contact": {
            "name": "Express API support",
            "email": "express-api-support@adobe.com"
        }
    },
    "servers": [
        {
            "url": "https://express-api.adobe.io",
            "description": "Prod endpoint"
        }
    ],
    "paths": {
        "/beta/tagged-documents": {
            "get": {
                "summary": "Tagged documents",
                "description": "This API retrieves a list of tagged documents that users can access, including those they own or those shared with them, along with relevant metadata. It supports pagination and sorting, allowing users to specify the starting point, define the number of documents to return, and choose the order in which to list them. The response includes the requested documents and their metadata.",
                "operationId": "taggedDocuments",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "description": "Pagination start index. Default is 0.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Pagination limit. Default is 10 and maximum value allowed is 25.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "description": "Use `sortBy` to sort the response.",
                        "schema": {
                            "$ref": "#/components/schemas/TaggedDocumentsSortBy"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the tagged documents.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaggedDocumentsResponse"
                                },
                                "examples": {
                                    "taggedDocumentsResponseSample": {
                                        "$ref": "#/components/examples/taggedDocumentsResponseSample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsBadRequest": {
                                        "$ref": "#/components/examples/errorResponseDetailsBadRequest"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnauthorized": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnauthorized"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsForbidden": {
                                        "$ref": "#/components/examples/errorResponseDetailsForbidden"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsNotFound": {
                                        "$ref": "#/components/examples/errorResponseDetailsNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnprocessableEntity": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnprocessableEntity"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsTooManyRequests": {
                                        "$ref": "#/components/examples/errorResponseDetailsTooManyRequests"
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsServiceUnavailable": {
                                        "$ref": "#/components/examples/errorResponseDetailsServiceUnavailable"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsRuntimeError": {
                                        "$ref": "#/components/examples/errorResponseDetailsRuntimeError"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/beta/tagged-documents/{documentId}": {
            "get": {
                "summary": "Tagged Document Details",
                "description": "This API retrieves details of the pages and tagged elements within a specified document. It returns a paginated list of the document's pages and metadata about each page. If the document has tagged elements, the API includes their respective details, such as size and position. If the document does not have tagged elements, it returns an empty array. The response includes pagination information to help users navigate the document\u2019s pages. A maximum of 10 pages can be returned in 1 API call.",
                "operationId": "taggedDocumentDetails",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the document."
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Specifies the starting document page number from which details need to be fetched. Default is 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the details of the tagged document.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaggedDocumentDetailsResponse"
                                },
                                "examples": {
                                    "taggedDocumentDetailsResponseSampleOne": {
                                        "$ref": "#/components/examples/taggedDocumentDetailsResponseSampleOne"
                                    },
                                    "taggedDocumentDetailsResponseSampleTwo": {
                                        "$ref": "#/components/examples/taggedDocumentDetailsResponseSampleTwo"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsBadRequest": {
                                        "$ref": "#/components/examples/errorResponseDetailsBadRequest"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnauthorized": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnauthorized"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnprocessableEntity": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnprocessableEntity"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsRuntimeError": {
                                        "$ref": "#/components/examples/errorResponseDetailsRuntimeError"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/beta/generate-variation": {
            "post": {
                "summary": "Generate variations",
                "description": "This API creates a document variation based on provided input parameters. After processing, it temporarily stores the generated document and makes it available to the user within a designated folder. The document remains accessible for 30 days, after which the system automatically removes it.",
                "operationId": "generateVariation",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateVariationRequest"
                            },
                            "examples": {
                                "generateVariationRequestSample": {
                                    "$ref": "#/components/examples/generateVariationRequestSample"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "The request has been accepted and the job is in progress.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobResponse"
                                },
                                "examples": {
                                    "jobResponseSample": {
                                        "$ref": "#/components/examples/jobResponseSample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsBadRequest": {
                                        "$ref": "#/components/examples/errorResponseDetailsBadRequest"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnauthorized": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnauthorized"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsForbidden": {
                                        "$ref": "#/components/examples/errorResponseDetailsForbidden"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsNotFound": {
                                        "$ref": "#/components/examples/errorResponseDetailsNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnprocessableEntity": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnprocessableEntity"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsTooManyRequests": {
                                        "$ref": "#/components/examples/errorResponseDetailsTooManyRequests"
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsServiceUnavailable": {
                                        "$ref": "#/components/examples/errorResponseDetailsServiceUnavailable"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsRuntimeError": {
                                        "$ref": "#/components/examples/errorResponseDetailsRuntimeError"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/beta/export-rendition": {
            "post": {
                "summary": "Export renditions",
                "description": "Export one or more pages from an Adobe Express document in supported formats. This endpoint accepts an export request and returns pre-signed URLs for accessing the rendered files.\n\n**Supported formats:**\n- Image formats: `image/jpeg` (JPG), `image/png` (PNG)\n- Video format: `video/mp4` (MP4)\n- Document format: `application/pdf` (PDF)\n\n**Rendition availability:**\n- Image renditions: Valid for 4 hours, maximum size 8192px on the longest side\n- Video and PDF renditions: Valid for 24 hours, maximum size 4096px on the longest side\n\n**Asynchronous processing:**\nExport requests are processed asynchronously. The response includes a `jobId` and `statusUrl` that you can use to track the export progress and retrieve the final rendition URLs.",
                "operationId": "exportRendition",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportRenditionRequest"
                            },
                            "examples": {
                                "exportRenditionRequestSampleOne": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleOne"
                                },
                                "exportRenditionRequestSampleTwo": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleTwo"
                                },
                                "exportRenditionRequestSampleThree": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleThree"
                                },
                                "exportRenditionRequestSampleFour": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleFour"
                                },
                                "exportRenditionRequestSampleFive": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleFive"
                                },
                                "exportRenditionRequestSampleSix": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleSix"
                                },
                                "exportRenditionRequestSampleSeven": {
                                    "$ref": "#/components/examples/exportRenditionRequestSampleSeven"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "The request has been accepted and the job is in progress.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobResponse"
                                },
                                "examples": {
                                    "jobResponseSample": {
                                        "$ref": "#/components/examples/jobResponseSample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsBadRequest": {
                                        "$ref": "#/components/examples/errorResponseDetailsBadRequest"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnauthorized": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnauthorized"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsForbidden": {
                                        "$ref": "#/components/examples/errorResponseDetailsForbidden"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsNotFound": {
                                        "$ref": "#/components/examples/errorResponseDetailsNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsUnprocessableEntity": {
                                        "$ref": "#/components/examples/errorResponseDetailsUnprocessableEntity"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsTooManyRequests": {
                                        "$ref": "#/components/examples/errorResponseDetailsTooManyRequests"
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsServiceUnavailable": {
                                        "$ref": "#/components/examples/errorResponseDetailsServiceUnavailable"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsRuntimeError": {
                                        "$ref": "#/components/examples/errorResponseDetailsRuntimeError"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status/{jobId}": {
            "get": {
                "summary": "Retrieve job status",
                "description": "This API retrieves a job's status by its `jobId`. Depending on the job type, the response may include job-specific details.",
                "operationId": "getJobStatus",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the job."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with job status and details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/JobStatusResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ExportRenditionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/GenerateVariationResponse"
                                        }
                                    ]
                                },
                                "examples": {
                                    "jobStatusResponseSampleOne": {
                                        "$ref": "#/components/examples/jobStatusResponseSampleOne"
                                    },
                                    "jobStatusResponseSampleTwo": {
                                        "$ref": "#/components/examples/jobStatusResponseSampleTwo"
                                    },
                                    "jobStatusResponseSampleThree": {
                                        "$ref": "#/components/examples/jobStatusResponseSampleThree"
                                    },
                                    "exportRenditionResponseSampleOne": {
                                        "$ref": "#/components/examples/exportRenditionResponseSampleOne"
                                    },
                                    "exportRenditionResponseSampleTwo": {
                                        "$ref": "#/components/examples/exportRenditionResponseSampleTwo"
                                    },
                                    "exportRenditionResponseSampleThree": {
                                        "$ref": "#/components/examples/exportRenditionResponseSampleThree"
                                    },
                                    "exportPdfRenditionResponseSampleOne": {
                                        "$ref": "#/components/examples/exportPdfRenditionResponseSampleOne"
                                    },
                                    "exportPdfRenditionResponseSampleTwo": {
                                        "$ref": "#/components/examples/exportPdfRenditionResponseSampleTwo"
                                    },
                                    "generateVariationResponseSample": {
                                        "$ref": "#/components/examples/generateVariationResponseSample"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsNotFound": {
                                        "$ref": "#/components/examples/errorResponseDetailsNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDetails"
                                },
                                "examples": {
                                    "errorResponseDetailsRuntimeError": {
                                        "$ref": "#/components/examples/errorResponseDetailsRuntimeError"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKey": {
                "type": "apiKey",
                "name": "X-API-KEY",
                "in": "header"
            },
            "Authorization": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "TaggedElementType": {
                "description": "The supported tag types in a document.",
                "enum": [
                    "image",
                    "text",
                    "video"
                ],
                "type": "string"
            },
            "ExpressDocument": {
                "description": "Details of the Express document.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The unique identifier of the document.",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name or title of the document.",
                        "type": "string"
                    },
                    "thumbnailUrl": {
                        "description": "Pre-signed URL for the Document's thumbnail rendition.\nThe size of the rendition will be `640 pixels` along the longest side. The format of the rendition will be a `PNG` image.",
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "thumbnailUrl"
                ]
            },
            "Pagination": {
                "description": "Pagination details of the response.",
                "type": "object",
                "properties": {
                    "nextUrl": {
                        "description": "A URL using which the next page of the response can be fetched.",
                        "type": "string"
                    },
                    "totalRecords": {
                        "description": "Total number of items available that match the query.",
                        "type": "number"
                    }
                },
                "required": [
                    "nextUrl",
                    "totalRecords"
                ]
            },
            "Point": {
                "description": "Represents position within a page. 0,0 represents the top-left corner of a page.",
                "type": "object",
                "properties": {
                    "x": {
                        "description": "The left co-ordinate position in px.",
                        "type": "number"
                    },
                    "y": {
                        "description": "The top co-ordinate position in px.",
                        "type": "number"
                    }
                },
                "required": [
                    "x",
                    "y"
                ]
            },
            "Size": {
                "description": "Represents a dimension within a Page.",
                "type": "object",
                "properties": {
                    "width": {
                        "description": "The width in pixels ( px ).",
                        "type": "number"
                    },
                    "height": {
                        "description": "The height in pixels ( px ).",
                        "type": "number"
                    }
                },
                "required": [
                    "height",
                    "width"
                ]
            },
            "ImageRenditionFormat": {
                "description": "The format of the bitmap rendition.",
                "enum": [
                    "image/jpeg",
                    "image/png"
                ],
                "type": "string"
            },
            "ErrorResponseDetails": {
                "description": "Details of the error response.",
                "type": "object",
                "properties": {
                    "error_code": {
                        "description": "The error code.",
                        "type": "string"
                    },
                    "message": {
                        "description": "The error message.",
                        "type": "string"
                    },
                    "validation_errors": {
                        "description": "Validation error messages.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "error_code"
                ]
            },
            "JobStatus": {
                "description": "Various statuses of a job.",
                "enum": [
                    "cancel_requested",
                    "cancelled",
                    "failed",
                    "partially_succeeded",
                    "pending",
                    "running",
                    "succeeded"
                ],
                "type": "string"
            },
            "JobResponse": {
                "description": "Response payload returned by any asynchronous endpoint.",
                "type": "object",
                "properties": {
                    "jobId": {
                        "description": "The identifier of the job.",
                        "type": "string"
                    },
                    "statusUrl": {
                        "description": "A URL using which the status of the job can be fetched.",
                        "type": "string"
                    }
                },
                "required": [
                    "jobId",
                    "statusUrl"
                ]
            },
            "JobStatusResponse": {
                "description": "Base response payload returned by Job Status API.",
                "type": "object",
                "properties": {
                    "jobId": {
                        "description": "The identifier of the job.",
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus",
                        "description": "The status of the job."
                    }
                },
                "required": [
                    "jobId",
                    "status"
                ]
            },
            "TaggedDocumentsSortBy": {
                "description": "Represents the sortBy field enum for tagged documents.",
                "enum": [
                    "+modifiedDate",
                    "+name",
                    "-modifiedDate",
                    "-name",
                    "-relevance",
                    "modifiedDate",
                    "name",
                    "relevance"
                ],
                "type": "string"
            },
            "TaggedElement": {
                "description": "The details of a tag element inside the page.",
                "type": "object",
                "properties": {
                    "name": {
                        "description": "The name of the tag. Following rules apply to the tag name:\n\n1. In the same page, tag names should be unique.\n2. Across different pages, tags of same element type can have same name.\n3. The tag name is case-sensitive.",
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TaggedElementType",
                        "description": "The type of the tagged element."
                    },
                    "position": {
                        "$ref": "#/components/schemas/Point",
                        "description": "The x and y coordinates of the tagged element on the document's page, relative to the original page size."
                    },
                    "size": {
                        "$ref": "#/components/schemas/Size",
                        "description": "The width and height of the tagged element in the document's page relative to the original page size."
                    }
                },
                "required": [
                    "name",
                    "position",
                    "size",
                    "type"
                ]
            },
            "DocumentPageDetails": {
                "description": "The details of a single page in the Express Document.",
                "type": "object",
                "properties": {
                    "pageNumber": {
                        "description": "The number of the page starting from 1.",
                        "type": "number"
                    },
                    "pageTitle": {
                        "description": "The title of the page.",
                        "type": "string"
                    },
                    "thumbnailUrl": {
                        "description": "Pre-signed URL for the page's thumbnail rendition valid for 4 hours.\nThe size of the rendition will be 640 pixels along the longest side. The format of the rendition will be a PNG image.",
                        "type": "string"
                    },
                    "size": {
                        "$ref": "#/components/schemas/Size",
                        "description": "The original width and height of the page."
                    },
                    "taggedElements": {
                        "description": "List of all the tagged elements on this page.\nIf this page do not have any tagged element, this field will be undefined.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TaggedElement"
                        }
                    }
                },
                "required": [
                    "pageNumber",
                    "pageTitle",
                    "size",
                    "thumbnailUrl"
                ]
            },
            "TaggedDocumentDetailsResponse": {
                "description": "Response payload for GET \"/tagged-documents/\\{documentId\\}\" API.",
                "type": "object",
                "properties": {
                    "name": {
                        "description": "The name of the document.",
                        "type": "string"
                    },
                    "id": {
                        "description": "The unique identifier of the document.",
                        "type": "string"
                    },
                    "paging": {
                        "description": "Pagination details of the response.",
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "documentPages": {
                        "description": "List of the pages from Express Document.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentPageDetails"
                        }
                    }
                },
                "required": [
                    "documentPages",
                    "id",
                    "name"
                ]
            },
            "TaggedDocumentsResponse": {
                "description": "Response payload for GET \"/tagged-documents\" API.",
                "type": "object",
                "properties": {
                    "paging": {
                        "description": "Pagination details of the response.",
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "documents": {
                        "description": "A list of documents accessible (both owned and shared with) to the user.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ExpressDocument"
                        }
                    }
                }
            },
            "ExportRenditionRequest": {
                "description": "Payload for requesting rendition of a document.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The identifier of the document that needs to be rendered.",
                        "type": "string"
                    },
                    "pages": {
                        "description": "A comma-separated string of page numbers for which the rendition request is made. For example, \"1,2,3\".\nPage ranges can also be specified. For example, \"1-3\" includes pages 1, 2, and 3.\nAnother example is \"1,3-5\", which includes pages 1, 3, 4, and 5.\n\"1-\" can be used to specify all pages, while \"5-\" indicates page 5 to the last page.\nIf not provided, the first page is considered by default. Page numbers start from 1.",
                        "type": "string"
                    },
                    "options": {
                        "description": "Options for the requested rendition.",
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/ImageRenditionOptions"
                            },
                            {
                                "$ref": "#/components/schemas/VideoRenditionOptions"
                            },
                            {
                                "$ref": "#/components/schemas/PdfRenditionOptions"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "options"
                ]
            },
            "SuccessfulPageRendition": {
                "description": "Details of the page rendition that was successfully exported.",
                "type": "object",
                "properties": {
                    "pageNumber": {
                        "description": "The page number for which the rendition export request was made.",
                        "type": "number"
                    },
                    "renditionUrl": {
                        "description": "Pre-signed URL where the rendition result can be downloaded from.",
                        "type": "string"
                    }
                },
                "required": [
                    "pageNumber",
                    "renditionUrl"
                ]
            },
            "FailedPageRendition": {
                "description": "Details of the page rendition that failed to export.",
                "type": "object",
                "properties": {
                    "pageNumber": {
                        "description": "The page number for which the rendition export request was made.",
                        "type": "number"
                    },
                    "error": {
                        "$ref": "#/components/schemas/ErrorResponseDetails",
                        "description": "Error object indicating the reason for the failure."
                    }
                },
                "required": [
                    "error",
                    "pageNumber"
                ]
            },
            "ExportRenditionResponse": {
                "description": "Response payload for the \"export-rendition\" API.",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/PageRenditionResponse"
                    },
                    {
                        "$ref": "#/components/schemas/PdfRenditionResponse"
                    }
                ]
            },
            "VariationDetails": {
                "description": "Details of how the variation should be generated.",
                "type": "object",
                "properties": {
                    "tagMappings": {
                        "description": "A key-value pair where each key represents the unique identifier of a tag element, and the value represents the corresponding element's content. The value type varies by element type: for text elements, it is a plain string; for image or video elements, it is a pre-signed URL pointing to the image or video resource. Allowed domains for pre-signed URLs are AWS, Dropbox and Azure (windows.net). The key is obtained from the response of `/alpha/tagged-documents/{documentId}` in `documentPages` -\\> `taggedElements` -\\> `name`.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "pages": {
                        "description": "A comma-separated string of page numbers for which the variation request is made. For example, \"1,2,3\".\nPage ranges can also be specified. For example, \"1-3\" includes pages 1, 2, and 3.\nAnother example is \"1,3-5\", which includes pages 1, 3, 4, and 5.\n\"1-\" can be used to specify all pages, while \"5-\" indicates page 5 to the last page.\nIf not provided, all pages are considered by default. Page numbers start from 1.",
                        "type": "string"
                    },
                    "preferredDocumentName": {
                        "description": "The preferred name for the generated document. If you do not provide a name or the name is already in use, the system automatically generates a unique name.",
                        "type": "string"
                    },
                    "projectId": {
                        "description": "The identifier of the project where the variation is to be stored.",
                        "type": "string"
                    }
                },
                "required": [
                    "tagMappings"
                ]
            },
            "GenerateVariationRequest": {
                "description": "Generate variation of a tagged document. One single variation can be generated at a time.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The identifier of the tagged document.",
                        "type": "string"
                    },
                    "variationDetails": {
                        "$ref": "#/components/schemas/VariationDetails",
                        "description": "Specify the details required to generate the requested variation."
                    }
                },
                "required": [
                    "id",
                    "variationDetails"
                ]
            },
            "GenerateVariationResponse": {
                "description": "Response payload for the \"generate-variation\" API.",
                "type": "object",
                "properties": {
                    "document": {
                        "$ref": "#/components/schemas/ExpressDocument",
                        "description": "Specifies the details of the generated variation."
                    },
                    "jobId": {
                        "description": "The identifier of the job.",
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus",
                        "description": "The status of the job."
                    }
                },
                "required": [
                    "document",
                    "jobId",
                    "status"
                ]
            },
            "SuccessfulPdfRendition": {
                "description": "Result of a successful PDF rendition export.",
                "type": "object",
                "properties": {
                    "renditionUrl": {
                        "description": "The URL of the PDF rendition.",
                        "type": "string"
                    }
                },
                "required": [
                    "renditionUrl"
                ]
            },
            "FailedPdfRendition": {
                "description": "Result of a failed PDF rendition export.",
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/ErrorResponseDetails",
                        "description": "Error object indicating the reason for the failure."
                    }
                },
                "required": [
                    "error"
                ]
            },
            "PdfRenditionResponse": {
                "description": "Response payload for the \"export-rendition\" API when exporting PDF rendition.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The identifier of the document for which the rendition request was made.",
                        "type": "string"
                    },
                    "pageRenditionsResult": {
                        "description": "The exported PDF rendition outcome.",
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SuccessfulPdfRendition"
                                },
                                {
                                    "$ref": "#/components/schemas/FailedPdfRendition"
                                }
                            ]
                        }
                    },
                    "jobId": {
                        "description": "The identifier of the job.",
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus",
                        "description": "The status of the job."
                    }
                },
                "required": [
                    "id",
                    "jobId",
                    "pageRenditionsResult",
                    "status"
                ]
            },
            "UrlResource": {
                "description": "A Resource object referencing an asset via a pre-signed URL.\nUsed for customer-supplied storage or Adobe-owned temporary storage.",
                "type": "object",
                "properties": {
                    "url": {
                        "description": "An absolute pre-signed URL used to GET an input asset or PUT an output asset.\nAllowed domains include AWS S3, Azure Blob Storage, and Dropbox.",
                        "type": "string"
                    },
                    "storageType": {
                        "description": "Required only for output parameters when the URL targets\nAzure BlobStore or Dropbox storage.",
                        "enum": [
                            "Azure",
                            "Dropbox"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "url"
                ]
            },
            "CreativeCloudFileIdResource": {
                "description": "A Resource object referencing an ACP asset by its file identifier.",
                "type": "object",
                "properties": {
                    "creativeCloudFileId": {
                        "description": "The identifier of an asset stored in ACP.\nExample: \"urn:aaid:sc:US:a21c8629-413f-55d9-9e65-83330a277ac1\"",
                        "type": "string"
                    }
                },
                "required": [
                    "creativeCloudFileId"
                ]
            },
            "CreativeCloudPathResource": {
                "description": "A Resource object referencing an ACP asset by its storage path.",
                "type": "object",
                "properties": {
                    "creativeCloudPath": {
                        "description": "The path of an asset in ACP, relative to the root folder\nof the user's personal storage area.\nExample: \"/cloud-content/images/myImage.png\"",
                        "type": "string"
                    },
                    "creativeCloudProjectId": {
                        "description": "The identifier of a project containing the asset.\nRequired when referencing assets inside a project.",
                        "type": "string"
                    },
                    "creativeCloudFolderId": {
                        "description": "The identifier of a folder containing the asset.\nAlternative to creativeCloudProjectId for folder-based references.",
                        "type": "string"
                    }
                },
                "required": [
                    "creativeCloudPath"
                ]
            },
            "UploadIdResource": {
                "description": "A Resource object referencing an asset uploaded to Adobe-owned temporary storage.\nOnly valid for input parameters.",
                "type": "object",
                "properties": {
                    "uploadId": {
                        "description": "A URN returned from the Adobe temporary storage upload endpoint.",
                        "type": "string"
                    }
                },
                "required": [
                    "uploadId"
                ]
            },
            "DestinationFolderResource": {
                "description": "A Resource object specifying an ACP folder as a destination for output assets.\nWhen used, the service chooses unique file names within the specified folder.",
                "type": "object",
                "properties": {
                    "creativeCloudPath": {
                        "description": "The path of the destination folder in ACP.\nExample: \"/cloud-content/myFolder\" or \"campaigns/summer_assets\"",
                        "type": "string"
                    },
                    "creativeCloudProjectId": {
                        "description": "The identifier of a project to store output assets in.",
                        "type": "string"
                    },
                    "creativeCloudFolderId": {
                        "description": "The identifier of a folder to store output assets in.",
                        "type": "string"
                    }
                }
            },
            "BulkProgress": {
                "description": "Progress details for a bulk operation.",
                "type": "object",
                "properties": {
                    "processedRecords": {
                        "description": "The number of variation records that have been processed.",
                        "type": "number"
                    },
                    "totalRecords": {
                        "description": "The total number of variation records declared by the client in the input manifest.",
                        "type": "number"
                    },
                    "injectedRecords": {
                        "description": "The number of variation records actually injected into the system across all\norchestrated files.",
                        "type": "number"
                    }
                },
                "required": [
                    "injectedRecords",
                    "processedRecords",
                    "totalRecords"
                ]
            },
            "TextMapping": {
                "description": "A mapping that replaces a text-type tagged element.",
                "type": "object",
                "properties": {
                    "tagName": {
                        "description": "The name of the text tag to replace. Must match a tag name\nreturned by the tagged-documents API.",
                        "type": "string"
                    },
                    "text": {
                        "description": "The replacement text value.",
                        "type": "string"
                    }
                },
                "required": [
                    "tagName",
                    "text"
                ]
            },
            "ImageMapping": {
                "description": "A mapping that replaces an image-type tagged element.",
                "type": "object",
                "properties": {
                    "tagName": {
                        "description": "The name of the image tag to replace. Must match a tag name\nreturned by the tagged-documents API.",
                        "type": "string"
                    },
                    "source": {
                        "$ref": "#/components/schemas/UrlResource",
                        "description": "The source of the replacement image, specified as a pre-signed URL."
                    }
                },
                "required": [
                    "source",
                    "tagName"
                ]
            },
            "TagMappings": {
                "description": "Collection of tag-to-value mappings for a variation, organized by element type.",
                "type": "object",
                "properties": {
                    "textMappings": {
                        "description": "Mappings for text-type tagged elements.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TextMapping"
                        }
                    },
                    "imageMappings": {
                        "description": "Mappings for image-type tagged elements.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageMapping"
                        }
                    }
                }
            },
            "ImageOutput": {
                "description": "Requested image rendition output configuration.",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "Discriminator indicating image output type.",
                        "type": "string",
                        "enum": [
                            "image"
                        ]
                    },
                    "mediaType": {
                        "$ref": "#/components/schemas/ImageRenditionFormat",
                        "description": "The media type of the image rendition."
                    },
                    "size": {
                        "description": "The size of the image rendition on the longest side in pixels.\nThe aspect ratio is maintained. Min: 1, Max: 8192.\nIf not provided, the default size of page is considered.",
                        "type": "number"
                    }
                },
                "required": [
                    "mediaType",
                    "type"
                ]
            },
            "CreateVariationInput": {
                "description": "Input details for a single variation request.\nAlso serves as the schema for each row in a bulk-create-variation NDJSON input file.",
                "type": "object",
                "properties": {
                    "mappings": {
                        "$ref": "#/components/schemas/TagMappings",
                        "description": "Tag mappings to apply to the template or document."
                    },
                    "variationRequestId": {
                        "description": "The client-provided identifier for the variation request.\nIf supplied, the service echoes it back in the corresponding response\nto simplify client-side correlation.",
                        "type": "string"
                    }
                },
                "required": [
                    "mappings"
                ]
            },
            "ImageOutputResult": {
                "description": "Result of a successful image rendition output.",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "Discriminator indicating this is an image output result.",
                        "type": "string",
                        "enum": [
                            "image"
                        ]
                    },
                    "mediaType": {
                        "$ref": "#/components/schemas/ImageRenditionFormat",
                        "description": "The media type of the generated image rendition."
                    },
                    "pageNumber": {
                        "description": "The page number from which this rendition was generated.",
                        "type": "number"
                    },
                    "destination": {
                        "$ref": "#/components/schemas/UrlResource",
                        "description": "The location where the image rendition can be downloaded from."
                    }
                },
                "required": [
                    "destination",
                    "mediaType",
                    "pageNumber",
                    "type"
                ]
            },
            "OutputError": {
                "description": "Error details for a specific output that failed during a create-variation operation.",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "The output type that failed.",
                        "enum": [
                            "document",
                            "image"
                        ],
                        "type": "string"
                    },
                    "pageNumber": {
                        "description": "The page number associated with the failure, if applicable.",
                        "type": "number"
                    },
                    "error_code": {
                        "description": "The error code.",
                        "type": "string"
                    },
                    "message": {
                        "description": "The error message.",
                        "type": "string"
                    },
                    "validation_errors": {
                        "description": "Validation error messages.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "error_code"
                ]
            },
            "BulkInputSource": {
                "description": "The input source for a bulk operation, referencing a manifest JSON file\nthat contains references to NDJSON chunk files with variation input rows.",
                "type": "object",
                "properties": {
                    "source": {
                        "$ref": "#/components/schemas/UrlResource",
                        "description": "A pre-signed URL pointing to the manifest JSON file.\nThe manifest describes the total record count and references to NDJSON\nchunk files, each containing variation input rows conforming to\nthe {@link CreateVariationInput} schema."
                    },
                    "mediaType": {
                        "description": "The media type of the input manifest file. Must be \"application/json\".",
                        "type": "string",
                        "enum": [
                            "application/json"
                        ]
                    }
                },
                "required": [
                    "mediaType",
                    "source"
                ]
            },
            "BulkOutputResult": {
                "description": "A reference to the JSON manifest produced by a completed bulk job.",
                "type": "object",
                "properties": {
                    "mediaType": {
                        "description": "The media type of the manifest file.",
                        "type": "string",
                        "enum": [
                            "application/json"
                        ]
                    },
                    "destination": {
                        "$ref": "#/components/schemas/UrlResource",
                        "description": "The location where the output manifest file can be downloaded from."
                    }
                },
                "required": [
                    "destination",
                    "mediaType"
                ]
            },
            "BulkJobSummary": {
                "description": "Aggregate summary of a completed bulk job.",
                "type": "object",
                "properties": {
                    "totalRecords": {
                        "description": "The total number of variation records in the input.",
                        "type": "number"
                    },
                    "successfulRecords": {
                        "description": "The number of variation records that completed successfully.",
                        "type": "number"
                    },
                    "failedRecords": {
                        "description": "The number of variation records that failed.",
                        "type": "number"
                    }
                },
                "required": [
                    "failedRecords",
                    "successfulRecords",
                    "totalRecords"
                ]
            },
            "ImageRenditionOptions": {
                "description": "Options for the image rendition request.",
                "type": "object",
                "properties": {
                    "format": {
                        "$ref": "#/components/schemas/ImageRenditionFormat",
                        "description": "Image rendition format"
                    },
                    "size": {
                        "description": "The size of the \"image\" rendition on the longest side. The aspect ratio is maintained.\nFor image the minimum size supported is 1px and maximum size supported is 8192px.\n\nIf not provided, the default size of page is considered.",
                        "type": "number"
                    }
                },
                "required": [
                    "format"
                ]
            },
            "VideoRenditionOptions": {
                "description": "Options for the video rendition request.",
                "type": "object",
                "properties": {
                    "format": {
                        "description": "video rendition format",
                        "type": "string",
                        "enum": [
                            "video/mp4"
                        ]
                    },
                    "size": {
                        "description": "The size of the \"video\" rendition on the longest side. The aspect ratio is maintained.\nFor video the minimum size supported is 146px and maximum size supported is 4096px.\n\nIf not provided, the default size of page is considered.",
                        "type": "number"
                    }
                },
                "required": [
                    "format"
                ]
            },
            "PdfRenditionOptions": {
                "description": "Options for the requested PDF rendition.",
                "type": "object",
                "properties": {
                    "format": {
                        "description": "PDF rendition format",
                        "type": "string",
                        "enum": [
                            "application/pdf"
                        ]
                    },
                    "pdfType": {
                        "description": "The type of PDF rendition. Default is \"standard\".",
                        "enum": [
                            "print",
                            "standard"
                        ],
                        "type": "string"
                    },
                    "downloadIndividualPdfFiles": {
                        "description": "Controls whether pages are downloaded as separate PDF files.\nWhen true, each page is downloaded as its own PDF file.\nWhen false, all pages are combined into a single PDF file.\n\nDefaults to false.",
                        "type": "boolean"
                    },
                    "config": {
                        "description": "Configuration for the provided PDF type.",
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/PrintConfig"
                            },
                            {
                                "$ref": "#/components/schemas/StandardConfig"
                            }
                        ]
                    }
                },
                "required": [
                    "format"
                ]
            },
            "PrintConfig": {
                "description": "Configuration options for print-ready PDF renditions.",
                "type": "object",
                "properties": {
                    "bleed": {
                        "description": "Controls whether to include bleed settings in the PDF.\nDefaults to false.",
                        "type": "boolean"
                    },
                    "bleedSettings": {
                        "description": "Configuration settings for bleed margins.\nOnly applies when bleed is true.\nDefault value is 0.125 <unit>.",
                        "$ref": "#/components/schemas/ValueWithUnit"
                    },
                    "cropMargins": {
                        "description": "Controls whether to include crop margins in the PDF.\nDefaults to false.",
                        "type": "boolean"
                    },
                    "cropMarginsSettings": {
                        "description": "Configuration settings for crop margins.\nOnly applies when cropMargins is true.\nDefault value is 0.125 <unit>.",
                        "$ref": "#/components/schemas/ValueWithUnit"
                    }
                }
            },
            "ValueWithUnit": {
                "description": "Configuration settings for the \"print\" PDF rendition.\nIt includes values to adjust the amount and unit of measurement.",
                "type": "object",
                "properties": {
                    "amount": {
                        "description": "The amount of bleed or crop margin.\nIt can be a positive or negative value.",
                        "type": "number"
                    },
                    "unit": {
                        "$ref": "#/components/schemas/PdfMarginUnit",
                        "description": "The unit of measurement for the bleed or crop margin."
                    }
                },
                "required": [
                    "amount",
                    "unit"
                ]
            },
            "PdfMarginUnit": {
                "description": "The unit of measurement for the bleed or crop margin.",
                "enum": [
                    "in",
                    "mm"
                ],
                "type": "string"
            },
            "StandardConfig": {
                "description": "Configuration settings for standard PDF rendition.",
                "type": "object",
                "properties": {
                    "accessibilityTags": {
                        "description": "Controls whether accessibility tags are included in the PDF.\nWhen true, accessibility tags will be embedded in the PDF.\nWhen false, accessibility tags will be omitted.\n\nDefaults to false.",
                        "type": "boolean"
                    }
                }
            },
            "PageRenditionResponse": {
                "description": "Response payload for the \"export-rendition\" API when exporting page renditions.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The identifier of the document for which the rendition request was made.",
                        "type": "string"
                    },
                    "pageRenditionsResult": {
                        "description": "The exported renditions outcome indicates whether they were successful or failed.",
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SuccessfulPageRendition"
                                },
                                {
                                    "$ref": "#/components/schemas/FailedPageRendition"
                                }
                            ]
                        }
                    },
                    "jobId": {
                        "description": "The identifier of the job.",
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus",
                        "description": "The status of the job."
                    }
                },
                "required": [
                    "id",
                    "jobId",
                    "pageRenditionsResult",
                    "status"
                ]
            },
            "ExpressTemplate": {
                "description": "Represents an Adobe Express template asset.",
                "type": "object",
                "properties": {
                    "assetType": {
                        "description": "The asset type is always template.",
                        "type": "string",
                        "enum": [
                            "template"
                        ]
                    },
                    "pages": {
                        "description": "The pages of the template asset.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ExpressTemplatePage"
                        }
                    },
                    "id": {
                        "description": "The unique identifier (URN) of the asset.",
                        "type": "string"
                    },
                    "title": {
                        "description": "The title of the asset.",
                        "type": "string"
                    },
                    "description": {
                        "description": "The description of the asset, if available.",
                        "type": "string"
                    },
                    "type": {
                        "description": "The type of the asset.",
                        "type": "string",
                        "enum": [
                            "template"
                        ]
                    },
                    "licensingCategory": {
                        "$ref": "#/components/schemas/LicensingCategory",
                        "description": "The licensing category of the asset."
                    },
                    "viewUrl": {
                        "description": "The view url of the asset.",
                        "type": "string"
                    }
                },
                "required": [
                    "assetType",
                    "id",
                    "licensingCategory",
                    "pages",
                    "type"
                ]
            },
            "ExpressTemplatePage": {
                "description": "Represents a page of an Adobe Express template.",
                "type": "object",
                "properties": {
                    "thumbnailRendition": {
                        "description": "The thumbnail rendition details of the page, if available.\nThe size is variable and depends on the size of the template page.",
                        "$ref": "#/components/schemas/RenditionDetails"
                    },
                    "previewRendition": {
                        "description": "The preview rendition details of the page, if available.\nThe size is variable and depends on the size of the template page.\nIts generally higher resolution than the thumbnailUrl.",
                        "$ref": "#/components/schemas/RenditionDetails"
                    }
                }
            },
            "RenditionDetails": {
                "description": "Details of rendition of an asset.",
                "type": "object",
                "properties": {
                    "url": {
                        "description": "The url of the rendition.",
                        "type": "string"
                    },
                    "width": {
                        "description": "The width of the rendition.",
                        "type": "number"
                    },
                    "height": {
                        "description": "The height of the rendition.",
                        "type": "number"
                    },
                    "mediaType": {
                        "description": "The media type of the rendition.\ne.g., \"image/jpeg\", \"image/webp\", etc.",
                        "type": "string"
                    }
                },
                "required": [
                    "url"
                ]
            },
            "LicensingCategory": {
                "description": "The licensing category of the asset.",
                "enum": [
                    "free",
                    "premium"
                ],
                "type": "string"
            }
        },
        "examples": {
            "exportRenditionRequestSampleOne": {
                "summary": "Export Rendition Request Sample 1",
                "value": {
                    "id": "urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa",
                    "pages": "1,2,3",
                    "options": {
                        "format": "image/jpeg",
                        "size": 1024
                    }
                }
            },
            "exportRenditionRequestSampleTwo": {
                "summary": "Export Rendition Request Sample 2",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0002-a27de4c3d2b8",
                    "options": {
                        "format": "image/jpeg"
                    }
                }
            },
            "exportRenditionRequestSampleThree": {
                "summary": "Export Rendition Request Sample 3",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0001-a27de4c3d2b8",
                    "pages": "1-5",
                    "options": {
                        "format": "image/png",
                        "size": 2048
                    }
                }
            },
            "exportRenditionRequestSampleFour": {
                "summary": "Export Rendition Request Sample 4",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0001-a27de4c3d2b8",
                    "pages": "1-",
                    "options": {
                        "format": "video/mp4"
                    }
                }
            },
            "exportRenditionRequestSampleFive": {
                "summary": "Export Rendition Request Sample 5",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0001-a27de4c3d2b8",
                    "pages": "1,2",
                    "options": {
                        "format": "video/mp4",
                        "size": 1080
                    }
                }
            },
            "exportRenditionRequestSampleSix": {
                "summary": "Export PDF Rendition - Standard PDF",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0001-a27de4c3d2b8",
                    "pages": "1-3",
                    "options": {
                        "format": "application/pdf",
                        "pdfType": "standard",
                        "downloadIndividualPdfFiles": true,
                        "config": {
                            "accessibilityTags": true
                        }
                    }
                }
            },
            "exportRenditionRequestSampleSeven": {
                "summary": "Export PDF Rendition - Print PDF",
                "value": {
                    "id": "urn:aaid:sc:AP:33e40394-0000-000c-0001-a27de4c3d2b8",
                    "pages": "1-5",
                    "options": {
                        "format": "application/pdf",
                        "pdfType": "print",
                        "downloadIndividualPdfFiles": false,
                        "config": {
                            "bleed": true,
                            "bleedSettings": {
                                "amount": 0.125,
                                "unit": "in"
                            },
                            "cropMargins": true,
                            "cropMarginsSettings": {
                                "amount": 0.125,
                                "unit": "in"
                            }
                        }
                    }
                }
            },
            "jobResponseSample": {
                "summary": "Job Response Sample",
                "value": {
                    "jobId": "af121560-218e-4dd9-918d-add12b3b6d98",
                    "statusUrl": "https://example.com/status/af121560-218e-4dd9-918d-add12b3b6d98"
                }
            },
            "generateVariationRequestSample": {
                "summary": "Generate Variation Request Sample",
                "value": {
                    "id": "urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa",
                    "variationDetails": {
                        "pages": "1,2",
                        "preferredDocumentName": "Generated Document 1",
                        "tagMappings": {
                            "imageTag": "https://www.adobe.com/image.jpg",
                            "textTag": "Hello World",
                            "videoTag": "https://www.adobe.com/video.mp4"
                        }
                    }
                }
            },
            "taggedDocumentDetailsResponseSampleOne": {
                "summary": "Tagged Document Details Response Sample 1",
                "value": {
                    "documentPages": [
                        {
                            "pageNumber": 1,
                            "pageTitle": "Introduction",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "HeaderTitle",
                                    "position": {
                                        "x": 100,
                                        "y": 150
                                    },
                                    "size": {
                                        "height": 50,
                                        "width": 200
                                    },
                                    "type": "text"
                                },
                                {
                                    "name": "CompanyLogo",
                                    "position": {
                                        "x": 50,
                                        "y": 50
                                    },
                                    "size": {
                                        "height": 100,
                                        "width": 100
                                    },
                                    "type": "image"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page1-thumbnail.png"
                        },
                        {
                            "pageNumber": 2,
                            "pageTitle": "Project Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page2-thumbnail.png"
                        },
                        {
                            "pageNumber": 3,
                            "pageTitle": "Logo Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page3-thumbnail.png"
                        },
                        {
                            "pageNumber": 4,
                            "pageTitle": "Banner",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page4-thumbnail.png"
                        },
                        {
                            "pageNumber": 5,
                            "pageTitle": "Background Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page5-thumbnail.png"
                        },
                        {
                            "pageNumber": 6,
                            "pageTitle": "Project Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page6-thumbnail.png"
                        },
                        {
                            "pageNumber": 7,
                            "pageTitle": "Project Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
                                {
                                    "name": "Subheading",
                                    "position": {
                                        "x": 120,
                                        "y": 180
                                    },
                                    "size": {
                                        "height": 40,
                                        "width": 250
                                    },
                                    "type": "text"
                                }
                            ],
                            "thumbnailUrl": "https://example.com/page7-thumbnail.png"
                        },
                        {
                            "pageNumber": 8,
                            "pageTitle": "Project Details",
                            "size": {
                                "height": 792,
                                "width": 612
                            },
                            "taggedElements": [
[...]
